@import "../../App.scss";
.Footer {
    width: 100%;
    background-color: rgb(43, 45, 49);
    color: white;
    box-sizing: border-box;
    padding: 2vh 2vh 1vh 2vh;
    font-size: 1vh;
}

#divs {
    box-sizing: border-box;
    // padding-top: 2vh;
    // background-color: red;
    &:first-child {
        padding-top: 1vh;
    }
    div {
        box-sizing: border-box;
        padding-top: 2vh;
        padding-bottom: 1vh;
        // height: 6vh;
        vertical-align: baseline;
        border-bottom: 1px dashed rgb(68, 68, 68);
        @media (min-width: $mediumScreenMin) {
            &:nth-child(3) {
                border-bottom: none;
            }
            &:nth-child(2) {
                padding-left: 2vh;
                border-right: none;
            }
            &:nth-child(4) {
                border-bottom: none;
                padding-left: 2vh;
                border-right: none;
            }
            padding-left: 1vh;
            border-right: 1px dashed rgb(68, 68, 68);
        }
        @media (min-width: $extraLargeScreenMin) {
            // background-color: red;
            &:first-child {
                border-left: 1px solid rgb(68, 68, 68);
                
            }
            &:nth-child(2) {
                border-right: 1px dashed rgb(68, 68, 68);
            }
            &:last-child {
                border-right: 1px dashed rgb(68, 68, 68);
            }
            padding: 2vh 0 0 10vh;
            border-bottom: none;
            border-right: 1px solid rgb(68, 68, 68);
        }
    }
}

.ColumnName {
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
    &::after {
        content: attr(data-after-content);
        transition: all 0.4s;
    }

    @media (min-width: $smallScreenMin) {
        &::after {
            content: none;
        }
    }
}
input[type="checkbox"]:checked ~ ::after {
    transform: rotate(180deg);
    transition: all 0.4s;
}

input[type="checkBox"]:checked ~ .List {
    max-height: 7vh;
    transition: max-height 0.4s ease;
    li {
        opacity: 1;
        // height: fit-content;
        transition: opacity 0.4s ease;
        transition-delay: 0.2s;
    }
}

.List {
    list-style: none;
    max-height: 0;
    transition: max-height 0.4s ease;
    transition-delay: 0.2s;
    padding: 0 1vh;
    li {
        opacity: 0;
        transition: opacity 0.4s ease;
        margin-bottom: 1vh;
    }
    a {
        font-size: 2vh;
        color: white;
        text-decoration: none;
    }
}

.CheckBox {
    display: none;
}

.Signature {
    margin-top: 2vh;
    font-size: 1.5vh;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;
}

@media (min-width: $smallScreenMin) {
    .List {
        max-height: fit-content;
        li {
            opacity: 1;
        }
    }
}