@import "../../../../App.scss";

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    // margin: ;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    span {
        margin-left: 10px;
    }
    &:hover {
        opacity: 1;
    }
    @media (max-width: $smallScreenMin) {
        opacity: 1;
    }
}

.GoogleBtn {
    @extend .btn;
    background-color: #dd4c39;
}

.FacebookBtn {
    @extend .btn;
    background-color: #3b5998;
}

.BiljanaBtn {
    @extend .btn;
    background-color: rgba(255, 0, 0, 0.9);
    height: 20px;
    div {
        width: 18px;
        height: 20px;
        float: left;
    }
}
