@import "../../../App.scss";
.RightSidebar {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    // padding: 20px 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    @media (min-width: $smallScreenMin) {
        max-width: 400px;
        width: 400px;
    }
}

.Open {
    @extend .RightSidebar;

    transform: translateX(0%);
}

.Close {
    @extend .RightSidebar;
    transform: translateX(100%);
}

.Backdrop {
    @media (min-width: $largeScreenMin) {
        display: none;
    }
}

.Header {
    top: 0;
    left: 0;
    // background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: rgb(233, 39, 39);
    font-size: 15px;
    h2 {
        color: rgba(0, 0, 0, 0.76);
    }
}

.Main {
    overflow: scroll;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 213, 214);
    box-shadow: 5px 3px 10px inset rgb(212, 213, 214);
    padding: 4vh;
    display: flex;
    flex-flow: column;
    .Card {
        background-color: white;
        border: 1px dashed rgb(194, 189, 189);
        height: 130px;
        padding: 10px;
        margin-bottom: 2vh;
        box-shadow: 5px 3px 10px  rgb(212, 213, 214);
        .Image {
            width: 120px;
            height: 100%;
            float: left;
            margin-right: 15px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .Description {
            // float: right;
            font-size: 13px;
            .Top {
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 15px;
                    font-weight: 600;
                }
                svg {
                    color: red;
                }
            }
            p {
                i {
                    opacity: 0.6;
                }
            }
            .Numbers {
                input {
                    width: 20px;
                    text-align: center;
                }
            }
        }
    }
}

.Footer {
    position: fixed;
    // background-color: blue;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    .Total {
        // background-color: yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 10px 20px 5px;
        h4 {
            margin: 0;
            padding: 0;
            opacity: 0.9;
        }
    }
    .OrderBtn {
        // background-color: blue;
        width: 100%;
        // height: 15%;
        position: fixed;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 3vh 1vh;
        // background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px double rgb(212, 213, 214);
        border-width: 3px;
    }
}
